APP_NAME=Fake Store Payment Processor
ENVIRONMENT=local
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/fake_store
AWS_REGION=ap-south-1
S3_BUCKET_NAME=fake-store-payment-files
S3_RAW_PREFIX=raw
S3_ARCHIVE_PREFIX=archive
S3_ERROR_PREFIX=error
SFTP_HOST=
SFTP_PORT=22
SFTP_USERNAME=
SFTP_PASSWORD=
SFTP_INBOUND_PATH=/inbound
SFTP_ARCHIVE_PATH=/archive
SUPPORTED_CURRENCIES=USD
PAYMENT_AMOUNT_MUST_MATCH_ORDER=true

